{
    "name": "Saber Editor",
    "features": {
        "zoom": true,
        "constraints": true,
        "customProperties": true,
        "playButton": true,
        "animator": true,
        "exportToFiles" : true,
        "authentication" : false
    },
    "colors": {

    },
    "library": "../assets/images",
    "fonts" : "../assets/fonts",
    "import" : {
        "filesURL": "../assets/data"
    },
    "export": {
        "url": "app/php/export.php",
        "writeDir" : "../assets/data",
        "callback": [
            "../tools/assets.php", 
            "../tools/fonts.php"
        ]
    } ,
    "plugins": []
}